<div class="card">
    <p-table
        [value]="alunos"
        [paginator]="true"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
2
        </ng-template>
        <ng-template pTemplate="body" let-alunos>
            <tr>
                <td>{{ alunos.matricula }}</td>
                <td>{{ alunos.nome }}</td>
                <td>{{ alunos.idade }}</td>
                <td>{{ alunos.email }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>