/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root{
  --aside-menu-width: 250px;
  --content-container-height: calc(100vh - 100px);
  --content-container-widht: calc(100vw - var(--aside-menu-width));
}

body, html{
  width: 100vw;
  overflow-x: clip;
  padding: 0;
  margin: 0;
}

.p-toast-message-content{
  background-color: #ffffff;
}

span.p-confirm-dialog-message,i.ng-tns-c3962434685-1{
  color: #ff0000;
}

span.p-confirm-dialog-message{
  font-weight: bolder;
}

